<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">

	<display-name>Administracion Casa central</display-name>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<display-name>ValidarLogin</display-name>
		<servlet-name>ValidarLogin</servlet-name>
		<servlet-class>edu.uade.tpo.ingsist2.view.servlets.ValidarLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ValidarLogin</servlet-name>
		<url-pattern>/ValidarLogin</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>
    	</description>
		<display-name>AdministrarProveedores</display-name>
		<servlet-name>AdministrarProveedores</servlet-name>
		<servlet-class>edu.uade.tpo.ingsist2.view.servlets.AdministrarProveedores</servlet-class>
	</servlet>
	<servlet>
		<description>
    	</description>
		<display-name>AdministrarRodamientos</display-name>
		<servlet-name>AdministrarRodamientos</servlet-name>
		<servlet-class>edu.uade.tpo.ingsist2.view.servlets.AdministrarRodamientos</servlet-class>
	</servlet>
	<servlet>
		<description>
    	</description>
		<display-name>OpcionMenu</display-name>
		<servlet-name>OpcionMenu</servlet-name>
		<servlet-class>edu.uade.tpo.ingsist2.view.servlets.OpcionMenu</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdministrarProveedores</servlet-name>
		<url-pattern>/AdministrarProveedores</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdministrarRodamientos</servlet-name>
		<url-pattern>/AdministrarRodamientos</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OpcionMenu</servlet-name>
		<url-pattern>/OpcionMenu</url-pattern>
	</servlet-mapping>

</web-app>     